POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=tradestream
POSTGRES_USER=tradestream_user
POSTGRES_PASSWORD=tradestream_pass

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
SCHEMA_REGISTRY_URL=http://localhost:8081

S3_BUCKET=tradestream-lakehouse
AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123
AWS_DEFAULT_REGION=us-east-1

DBT_TARGET=dev
AIRFLOW_UID=50000